img {
	border: none !important;
	background: none !important;
	box-shadow: none !important;
	max-height: 90vh !important;
}

.circled {
	border-radius: 100%;
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

#cross {
	-webkit-animation: fadein 2s ease-in alternate infinite;
	-moz-animation: fadein 2s ease-in alternate infinite;
	animation: fadein 2s ease-in alternate infinite;
}

.cross-line {
	-webkit-animation: fadein 2s ease-in alternate infinite;
	-moz-animation: fadein 2s ease-in alternate infinite;
	animation: fadein 2s ease-in alternate infinite;
}

.cross-line:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	height: 12px;
	background-color: red;
	top: 50%;
	margin-top: -6px;
}